.baner {
  margin-top: 100px;
  background: #f2f2f2;
  background-image: url(../img/baner.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 81px 102px;
  h3 {
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 45px;
    max-width: 517px;
    color: #807f7f;
    margin-bottom: 20px;
  }
  .button {
    padding: 18px 61px;
  }
}
@media screen and (max-width: 1440px) {
  .baner {
    margin-left: -51px;
    margin-right: -51px;
    padding: 114px 0px 114px 63px;
    background-position-x: 489px;
    h3 {
      font-size: 32px;
      line-height: 120%;
    }
  }
}
@media screen and (max-width: 1024px) {
  .baner {
    background: url(../img/baner-bg.png);
    background-color: #f2f2f2;
    background-position: right;
    background-repeat: no-repeat;
    padding: 39px 0px 38px 63px;
    h3 {
      font-size: 29px;
      max-width: 349px;
    }
  }
}
@media screen and (max-width: 768px) {
  .baner {
    margin: 0;
    max-width: 355px;
    background-position: top;
    padding-left: 12px;
    padding-top: 345px;
    padding-bottom: 28px;
    h3 {
      font-size: 23px;
    }
  }
}
