.benefits {
  margin-top: 100px;
  &__link {
    text-align: center;
    a {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: #070707;
      padding-right: 18px;
    }
  }
  > p {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #34343f;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  &__number {
    position: absolute;
    font-family: "Tenor Sans";
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    color: rgba(120, 120, 120, 0.04);
    top: 104px;
    right: 20px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    margin-bottom: 20px;
  }
  &__card {
    display: flex;
    max-width: 387px;
    margin: 0 auto;
    background: #f2f2f2;
    border-radius: 16px;
    position: relative;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    div {
      display: inline-block;
      margin: 0 auto;
      max-width: 277px;
      margin-left: 20px;
      h5 {
        font-family: "Tenor Sans";
        font-weight: 400;
        font-size: 22px;
        line-height: 120%;
        color: #34343f;
        padding-bottom: 20px;
      }
      p {
        font-weight: 300;
        font-size: 16px;
        line-height: 120%;
        color: #34343f;
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .benefits {
    &__card {
      max-width: 288px;
      margin: 0;
      padding: 30px 0 30px 15px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .benefits {
    h1 {
      font-size: 34px;
      margin-bottom: 54px;
      max-width: 362px;
    }
    > p {
      font-size: 16px;
    }
    &__cards {
      justify-content: center;
    }
    &__card {
      max-width: 362px;
    }
  }
}
@media screen and (max-width: 768px) {
  .benefits {
    margin-top: 40px;
    h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }
    &__card {
      height: 180px;
    }
    &__link {
      display: none;
    }
  }
}
