.bg {
  background: url(../img/bg.png);
  background-position: right;
}
@media screen and (max-width: 1440px) {
  .bg {
    background: url(../img/bg-1024.png);
    background-repeat: no-repeat;
    background-position: right;
  }
}
