.bg {
  background: url(../img/bg.png);
  background-position: right;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1440px) {
  .bg {
    background: url(../img/bg-1024.png);
    background-repeat: no-repeat;
    background-position: right;
  }
}
@media screen and (max-width: 1024px) {
  .bg {
    background-position-x: right;
    background-position-y: bottom;
  }
}
@media screen and (max-width: 765px) {
  .bg {
    background: url(../img/bg-375.png);

    background-repeat: no-repeat;
    background-position: bottom;
  }
}
