.container {
  margin: 0 auto;
  max-width: 1200px;
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: 904px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 748px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 355px;
  }
}
