.finance {
  &__row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__info {
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin-left: 102px;
      margin-top: 20px;
    }
    li {
      display: flex;
      align-items: center;
      list-style-type: none;
      max-width: 791px;
      span {
        font-weight: 700;
        font-size: 31px;
        line-height: 26px;
        color: #c4c4c4;
        margin-right: 52px;
      }
    }
  }
  &__panel {
    background: #f2f2f2;
    border-radius: 16px;
    padding: 24px 43px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1440px) {
  .finance {
    &__row {
      img {
        max-width: 442px;
      }
    }
    &__info {
      > p {
        line-height: 120%;
      }
      ul {
        margin-left: 85px;
        li {
          max-width: 590px;
          span {
            margin-right: 19px;
          }
        }
      }
    }
    &__panel {
      p {
        line-height: 120%;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .finance {
    &__row {
      img {
        max-width: 364px;
      }
    }
    &__info {
      margin-top: 40px;
      p {
        font-size: 14px;
      }
      li {
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .finance {
    &__row {
      img {
        max-width: 167px;
        height: 173px;
      }
    }
    ul {
      margin-left: 0;
    }
  }
}
