.footer {
  padding-top: 38px;
  padding-bottom: 64px;
  margin-bottom: 106px;
  &--news {
    margin-bottom: 24px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dddfe0;
    padding-bottom: 20px;
  }
  &__privacy-policy {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    color: #a5a5b3;
    text-decoration: none;
  }
  &__contacts {
    display: flex;
    gap: 65px;
    height: 308px;
  }
  &__adress {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__a {
    a {
      display: flex;
      font-weight: 500;
      font-size: 16px;
      line-height: 200%;
      color: #34343f;
      text-decoration: none;
    }
  }
  .adress__grafic {
    max-width: 219px;
  }
  &__links {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h2 {
      font-weight: 500;
      font-size: 27px;
      line-height: 26px;
      color: #34343f;
    }
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      text-decoration: none;
      color: #121212;
    }
  }
  &__social {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
}
.bg-footer {
  background: #ffffff;
  &--news {
    max-width: 1440px;
    margin: auto;
  }
}
@media screen and (max-width: 1440px) {
  .footer {
    margin-bottom: 10px;
    &__links {
      margin-left: -90px;
      h2 {
        font-weight: 500;
        font-size: 21px;
        line-height: 26px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    .logo {
      margin-right: 20px;
    }
    &__links {
      h2 {
        font-size: 16px;
      }
    }
    &__adress {
      gap: 40px;
      &--2 {
        gap: 72px;
      }
    }
    &__contacts {
      gap: 25px;
    }
  }
}
@media screen and (max-width: 768px) {
  .footer {
    &__info {
      flex-direction: column;
    }
    &__adress {
      gap: 20px;
    }
    &__a {
      max-width: 117px;
      &:last-child {
        max-width: 187px;
      }
    }
    &__contacts {
      gap: 0px;
    }
    &__links {
      margin: 0;
      margin-top: 20px;
      align-items: flex-start;
      text-align: start;
    }
  }
}
