.forWho {
  display: flex;
  margin-top: 100px;
  &__info {
    max-width: 482px;
  }
  hr {
    width: 39.19px;
    height: 1px;
    color: #353535;
  }
  h4 {
    font-family: "Tenor Sans";
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    color: #34343f;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  &__professions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex-wrap: wrap;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #34343f;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .button {
    max-width: 286px;
    width: 100%;
    padding: 18px 0px;
  }
}
@media screen and (max-width: 1440px) {
  .forWho {
    &__card {
      img {
        max-width: 211px;
        height: 158px;
      }
    }
    &__professions {
      justify-content: flex-start;
    }
    &__info {
      h1 {
        width: 444px;
      }
      p {
        max-width: 362px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .forWho {
    h4 {
      font-size: 19px;
    }
    &__info {
      margin-right: 34px;
      max-width: 344px;
      h1 {
        font-size: 34px;
      }
      p {
        font-size: 14px;
        max-width: 307px;
      }
    }
    &__card {
      img {
        max-width: 174px;
        max-height: 131px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .forWho {
    flex-wrap: wrap;
    &__professions {
      gap: 19px;
    }
    &__card {
      h4 {
        font-size: 18px;
        margin-top: 0;
      }
      img {
        max-width: 168px;
        max-height: 151px;
      }
    }
  }
}
