.gift {
  margin-top: 100px;
  h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: #34343f;
    max-width: 470px;
  }
  &__more {
    a {
      font-size: 20px;
      line-height: 120%;
      color: #070707;
    }
  }
  &__info {
    margin-left: 122px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    .gift__info {
      p {
        font-weight: 400;
        font-size: 16px;
        color: #34343f;
        max-width: 386px;
      }
    }
    &--2 {
      margin-top: 100px;
      justify-content: flex-start;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: #34343f;
      padding: 20px 0;
      max-width: 305px;
    }
  }
  &__input {
    display: flex;
    border: 1px solid rgba(250, 250, 250, 0.165952);
    box-shadow: inset 0px 1px 4px rgba(193, 203, 202, 0.3528);
    border-radius: 7px;
    max-width: 389px;
    padding: 17px 0 21px 20px;
    margin-bottom: 40px;
    input {
      border: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      margin-left: 68px;
    }
  }
  &__checkbox {
    display: flex;
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: #c3c3c3;
      max-width: 340px;
      margin-left: 10px;
    }
    input[type="checkbox"] {
      background: #ffe600;
    }
    a {
      color: #ffe600;
    }
  }
  .button {
    padding: 18px 61px;
    text-align: center;
  }
}
@media screen and (max-width: 1440px) {
  .gift {
    &__row {
      align-items: center;
      img {
        max-width: 442px;
        max-height: 278px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .gift {
    &__row {
      &--2 {
        justify-content: space-between;
      }
      h2 {
        font-size: 26px;
      }
      img {
        max-width: 363px;
      }
    }
    &__input {
      max-width: 364px;
    }
    &__info {
      margin-left: 0;
      max-width: 364px;
    }
  }
}
