h1 {
  font-family: "Tenor Sans";
  font-weight: 400;
  font-size: 44px;
  line-height: 120%;
  color: #000000;
}
@media screen and (max-width: 1440px) {
  h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 120%;
  }
}
