.job {
  margin-bottom: 100px;
  &__title {
    h1 {
      text-align: center;
      margin-bottom: 40px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  &__message {
    padding: 23px 63px 23px 50px;
    background: #ffe500;
    border-radius: 30px;
    max-width: 338.09px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #363348;
  }
  &__payments {
    margin-top: 40px;
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    p {
      max-width: 793px;

      line-height: 150%;
    }
  }
  &__info {
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #363348;
    }
    h5 {
      font-family: "Tenor Sans";
      font-weight: 400;
      font-size: 30px;
      line-height: 32px;
      color: #34343f;
      max-width: 373px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  &__price {
    margin-top: 40px;
    display: flex;
    gap: 23px;
  }
  &__panel {
    margin-bottom: 20px;
    p {
      line-height: 26px;
      padding: 11px 79px 11px 30px;
      position: relative;
      border-radius: 16px;
      background-color: #f2f2f2;
    }
    p::after {
      content: url("../img/galoshka.png");
      position: absolute;
      top: -30px;
      right: 0;
    }
  }
}
@media screen and (max-width: 1440px) {
  .job {
    > h1 {
      max-width: 673px;
    }
    &__payments {
      margin-bottom: 40px;
      p {
        max-width: 519px;
        line-height: 120%;
      }
    }
    &__title {
      margin-bottom: 40px;
      h1 {
        max-width: 749px;
      }
      img {
        max-width: 596px;
      }
    }
    &__price {
      img {
        max-width: 437px;
        max-height: 330px;
      }
    }
    &__panel {
      p::after {
        content: url(../img/star.png);
      }
      p {
        font-size: 14px;
        padding: 4px 61px 13px 15px;
      }
    }
    &__info {
      p {
        line-height: 120%;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .job {
    &__title {
      img {
        max-width: 492px;
      }
    }
    &__payments {
      p {
        font-size: 14px;
      }
    }
    &__price {
      h5 {
        font-size: 24px;
      }
      img {
        max-width: 364px;
        max-height: 276px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .job {
    &__title {
      img {
        max-width: 355px;
      }
    }
    &__payments {
      flex-direction: column;
      gap: 20px;
    }
    &__message {
      padding: 34px 84px 33px 71px;
      line-height: 120%;
      font-size: 16px;
    }
    &__price {
      flex-direction: column;
    }
  }
}
