.main {
  display: flex;
  padding-bottom: 119px;
  h1 {
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 61px;
    line-height: 120%;
    color: #36392f;
  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    max-width: 683px;
    gap: 40px;
    .button {
      padding: 18px 8px 18px 8px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      span {
        font-style: italic;
      }
    }
  }
}
