.main {
  display: flex;
  padding-bottom: 119px;
  &__p {
    max-width: 581px;
  }
  h1 {
    font-family: "Tenor Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 61px;
    line-height: 120%;
    color: #36392f;
  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    max-width: 683px;
    gap: 40px;
    .button {
      padding: 18px 8px 18px 8px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      span {
        font-style: italic;
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .main {
    h1 {
      font-size: 51px;
      line-height: 120%;
      max-width: 500px;
    }
    &__p {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      max-width: 500px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .main {
    padding-bottom: 351px;
    h1 {
      font-size: 48px;
      max-width: 626px;
    }
    &__p {
      max-width: 413px;
    }
  }
}
@media screen and (max-width: 768px) {
  .main {
    padding-bottom: 265px;
    h1 {
      font-size: 35px;
      text-align: center;
      line-height: 41px;
    }
    &__p {
      display: none;
    }
    &__info {
      align-items: center;
    }
  }
}
