.payments {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    margin-bottom: 20px;
  }
  p {
    max-width: 793px;
  }
}
@media screen and (max-width: 1440px) {
  .payments {
    &__info {
      max-width: 520px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .payments {
    align-items: normal;
    p {
      font-size: 14px;
    }
    img {
      max-width: 263px;
      max-height: 469px;
    }
  }
}
