.price {
  margin-top: 100px;
  &__carousel-arrow {
    display: none;
  }
  &__week {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    &--last {
      margin-top: 12px;
      margin-bottom: 17px;
      &:first-child {
        margin-bottom: 24px;
      }
      gap: 31px;
    }
    button {
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
      color: #ffffff;
      background: #bfbfbf;
      border-radius: 4px;
      padding: 1px 20px 1px 20px;
      border: none;
      &:hover {
        background: #ffe600;
      }
    }
  }
  h1 {
    padding-bottom: 20px;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #363348;
  }
  &__cards {
    margin-top: 40px;
    display: flex;
    gap: 20px;
  }
  &__card {
    background: #ffffff;
    border-radius: 24px;
    padding: 44px;
    max-width: 387px;
    max-height: 507px;
    width: 100%;
    p {
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      padding-top: 20px;
      padding-bottom: 10px;
      color: #000000;
    }
  }
  &__button {
    display: flex;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #514f4f;
    margin-top: 50px;
    justify-content: center;
    padding: 18px 54px 18px 54px;
    border: none;
    background: #ffe600;
    border-radius: 4px;
    max-width: 223px;
    &--last {
      margin-top: 9px;
      padding: 18px 7px 18px 7px;
    }
    &--middle {
      margin-top: 10px;
    }
  }
  &__row {
    color: #34343f;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h4 {
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
  }
  &__weekdays {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
  }
  &__price {
    font-weight: 400;
    font-size: 33px;
    line-height: 120%;
  }
}
@media screen and (max-width: 1440px) {
  .price {
    &__carousel {
      display: flex;
      align-items: center;
    }
    &__carousel-arrow {
      display: block;
      background: #ffffff;
      box-shadow: 0px 12px 14px rgba(54, 51, 72, 0.137812);
      border-radius: 50px;
      border: none;
      padding: 20px 20px 19px 25px;
    }
    &__overflow {
      overflow: hidden;
    }
    &__cards {
      width: 1201px;
      justify-content: center;
      transform: translateX(0px);
      transition: 1.4s;
    }
    > p {
      max-width: 643px;
    }
    &__card {
      h4 {
        line-height: 120%;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .price {
    &__carousel {
      width: 874px;
      margin-left: -46px;
    }
    > p {
      font-size: 14px;
    }
    &__cards {
      width: 1147px;
    }
    &__card {
      padding: 44px 28px;
      max-width: 364px;
    }
  }
}
@media screen and (max-width: 768px) {
  .price {
    &__carousel {
      margin-left: -60px;
      width: 473px;
    }
    &__cards {
      width: 759px;
    }
    margin-top: 40px;
    &__card:first-child {
      display: none;
    }
  }
}
