.price {
  margin-top: 100px;
  &__week {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    &--last {
      margin-top: 12px;
      margin-bottom: 17px;
      &:first-child {
        margin-bottom: 24px;
      }
      gap: 31px;
    }
    button {
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
      color: #ffffff;
      background: #bfbfbf;
      border-radius: 4px;
      padding: 1px 20px 1px 20px;
      border: none;
      &:hover {
        background: #ffe600;
      }
    }
  }
  h1 {
    padding-bottom: 20px;
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #363348;
  }
  &__cards {
    margin-top: 40px;
    display: flex;
    gap: 20px;
  }
  &__card {
    background: #ffffff;
    box-shadow: 0px 4px 10px 10px rgb(0 0 0 / 4%);
    border-radius: 24px;
    padding: 44px;
    max-width: 387px;
    max-height: 507px;
    width: 100%;
    p {
      font-weight: 700;
      font-size: 16px;
      line-height: 26px;
      padding-top: 20px;
      padding-bottom: 10px;
      color: #000000;
    }
  }
  &__button {
    display: flex;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #514f4f;
    margin-top: 50px;
    justify-content: center;
    padding: 18px 54px 18px 54px;
    border: none;
    background: #ffe600;
    border-radius: 4px;
    max-width: 223px;
    &--last {
      margin-top: 9px;
      padding: 18px 7px 18px 7px;
    }
    &--middle {
      margin-top: 10px;
    }
  }
  &__row {
    color: #34343f;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h4 {
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
  }
  &__weekdays {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
  }
  &__price {
    font-weight: 400;
    font-size: 33px;
    line-height: 120%;
  }
}
