.questions {
  margin: 0 auto;
  margin-top: 100px;
  &__flex {
    display: flex;
    justify-content: center;
  }
  button {
    padding: 18px 61px;
    margin-top: 40px;
  }
  &__question {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 0.9px solid #dddddd;
    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 120%;
      color: #34343f;
    }
  }
  &__span {
    display: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: #34343f;
    &--visible {
      display: block;
      padding-top: 20px;
    }
  }
  &__arrow--none {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .questions {
    h1 {
      font-size: 34px;
    }
  }
}
@media screen and (max-width: 768px) {
  .questions {
    margin-top: 40px;
    h1 {
      font-size: 24px;
    }
    &__info {
      p {
        font-size: 14px;
        max-width: 303px;
      }
    }
  }
}
