.seo {
  margin-top: 100px;
  div:first-child {
    align-items: center;
    margin-top: 0;
  }
  div:last-child {
    .seo__info {
      display: flex;
      max-width: none;
      p {
        color: #000000;
        max-width: 592px;
      }
    }
  }
  &__info {
    max-width: 449px;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #34343f;
      padding: 20px 0;
    }
    a {
      font-size: 20px;
      line-height: 120%;
      color: #070707;
    }
  }
  &__title {
    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #363348;
    }
  }
}
@media screen and (max-width: 1440px) {
  .seo {
    div:last-child {
      .seo__info {
        p {
          max-width: 442px;
        }
      }
    }
    &__row {
      margin-bottom: 40px;
      margin-top: 40px;
      img {
        max-width: 441px;
        max-height: 325px;
      }
      &:last-child {
        max-width: 900px;
        h1 {
          max-width: 442px;
        }
        .seo__info {
          gap: 20px;
        }
      }
    }
    &__info {
      max-width: 365px;
    }
    &__title {
      h1 {
        margin-bottom: 40px;
      }
      p {
        font-size: 18px;
        line-height: 120%;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .seo {
    div:last-child .seo__info p {
      max-width: 364px;
    }
    &__row {
      p {
        font-size: 14px;
      }
      img {
        max-width: 364px;
        max-height: 262px;
      }
    }
    &__title {
      h1 {
        margin-bottom: 20px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .seo {
    margin-top: 40px;
    &__title {
      p {
        font-size: 14px;
      }
    }
    &__row {
      &:last-child {
        .seo__info {
          flex-direction: column;
        }
      }
      gap: 20px;
      flex-direction: column-reverse;
    }
    &__info {
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 12px;
      }
      a {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}
