.services {
  margin-top: 93px;
  &__img {
    display: flex;
    justify-content: center;
    &--flex-end {
      justify-content: flex-end;
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    margin-top: 40px;
  }
  &__card {
    border-radius: 24px;
    .services__text {
      max-width: 163px;
      position: absolute;
      margin-top: 49px;
      border-radius: 4px;
      margin-right: -3px;
      box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.08);
      p {
        font-weight: 400;
        font-size: 10px;
        line-height: 120%;
        color: #000000;
      }
      background-color: #ffffff;
      padding: 6px 8px 7px 8px;
    }
    h4 {
      font-family: "Tenor Sans";
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      padding-bottom: 30px;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
    }
    &--big {
      max-width: 590px;
      padding: 30px 42px 0px 42px;
      max-height: 370px;
    }
    &--kitchen {
      background: #eee9e8;
    }
    &--cleaning {
      h4 {
        color: #000000;
      }
      background: #fff9c1;
    }
    &--location {
      color: white;
      background: #4f4f4f;
    }
    &--small {
      padding: 30px 33px 0px 33px;
      max-width: 387px;
      max-height: 369px;
      h4 {
        color: #2b291f;
      }
      p {
        color: #6e6e6e;
      }
    }
    &--sofas {
      background: #eaecef;
      h4 {
        color: #2b291f;
      }
      p {
        color: #6e6e6e;
      }
      img {
        margin-top: -20px;
      }
    }
    &--parking {
      background: rgba(239, 234, 187, 0.6);
    }
  }
}
@media screen and (max-width: 1440px) {
  .services {
    h1 {
      max-width: 600px;
      font-size: 34px;
    }
    &__card--big {
      max-width: 442px;
    }
    &__card {
      .services__text {
        margin-top: 9px;
      }
      h4 {
        padding-bottom: 20px;
      }
      p {
        font-size: 14px;
      }
    }
    &__card--small {
      padding: 30px 17px 0 17px;
      max-width: 288px;
    }
    &__img {
      img {
        max-width: 387px;
        max-height: 155px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .services {
    margin-top: 74px;

    &__card {
      h4 {
        font-size: 18px;
      }
      p {
        font-size: 12px;
        line-height: 120%;
      }
      .services__text {
        p {
          font-size: 7px;
          line-height: 120%;
        }
        padding: 5px 5px 10px 5px;
        max-width: 100px;
        max-height: 71px;
      }
      &--big {
        max-width: 364px;
      }
      &--small {
        max-width: 236px;
        max-height: 237px;
      }
      &--parking {
        img {
          max-width: 161px;
          max-height: 97px;
        }
      }
      &--kitchen {
        img {
          max-width: 226px;
          max-height: 109px;
        }
      }
      &--cleaning {
        img {
          max-width: 131px;
          max-height: 97px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .services {
    margin-top: 40px;
    h1 {
      font-size: 24px;
    }
    &__card {
      padding: 10px 16px 0 16px;
      max-width: 355px;
      max-height: 225px;
      h4 {
        font-size: 20px;
        padding-bottom: 4px;
      }
      p {
        font-size: 14px;
      }
      &--parking {
        img {
          width: 193px;
          height: 126px;
        }
      }
      &--kitchen {
        img {
          width: 200px;
          height: 130px;
        }
      }
    }
  }
}
