@import "fonts/fonts";
@import "container";
@import "nav-menu";
@import "header";
@import "main";
@import "bg";
@import "services";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TT Norms", sans-serif;
  font-style: normal;
}
