@import "fonts/fonts";
@import "container";
@import "nav-menu";
@import "header";
@import "main";
@import "bg";
@import "services";
@import "work";
@import "price";
@import "forWho";
@import "h1";
@import "button";
@import "benefits";
@import "booking";
@import "questions";
@import "vibe-coworking";
@import "gift";
@import "baner";
@import "adress.scss";
@import "footer.scss";
@import "location.scss";
@import "about";
@import "team";
@import "seo.scss";
@import "finance.scss";
@import "improvements.scss";
@import "payments.scss";
@import "job.scss";
@import "our-contacts";
@import "address-contacts.scss";
@import "contacts.scss";
@import "news.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TT Norms", sans-serif;
  font-style: normal;
}
body {
  background-color: #f9f9f9;
}
