.team {
  margin-top: 100px;
  &__carousel {
    margin-top: 40px;
    display: flex;
    gap: 21px;
  }
  &__card {
    display: flex;
    flex-direction: column;
    max-width: 284px;
    span {
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: #34343f;
      p {
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    background: url(../img/team__info--bg.png);
    background-repeat: no-repeat;
    background-position: right;
    max-width: 693px;
  }
  &__panel {
    padding: 27px 25px;
    background: #f2f2f2;
    border-radius: 16px;

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #34343f;
      margin-bottom: 20px;
    }
    span {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      color: #34343f;
      font-weight: 700;
      font-size: 26px;
      line-height: 36px;
      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .team {
    &__row {
      img {
        max-width: 288px;
        max-height: 296px;
      }
    }
    &__info {
      h1 {
        font-size: 34px;
        margin-left: 23px;
      }
      p {
        font-size: 14px;
        margin: 0;
      }
    }
    &__panel {
      max-width: 593px;
      margin: 0;
      padding: 17px;
      margin-left: 23px;
      span {
        span {
          font-size: 20px;
        }
      }
    }
    &__card {
      img {
        max-width: 211px;
        max-height: 213px;
      }
      span {
        font-size: 26px;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .team {
    margin-top: 225px;
    &__row {
      h1 {
        margin-top: -80px;
        margin-left: -218px;
      }
      img {
        max-width: 236px;
        max-height: 240px;
      }
    }
    &__panel {
      span {
        font-size: 18px;
        span {
          font-size: 14px;
        }
      }
    }
    &__carousel {
      justify-content: center;
    }
    &__card {
      &:last-child {
        display: none;
      }
      span {
        display: none;
      }
      p {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .team {
    margin-top: 40px;
    &__info {
      h1 {
        font-size: 24px;
        margin-left: 0;
        margin-top: 20px;
      }
    }
    &__panel {
      margin-top: 20px;
      margin-left: 0;
    }
    &__row {
      img {
        max-width: 355px;
        max-height: 345px;
      }
      flex-direction: column;
    }
    &__card {
      span {
        display: block;
        font-size: 14px;
      }
      p {
        display: block;
        font-size: 14px;
      }
      img {
        max-width: 168px;
        max-height: 166px;
      }
      &:last-child {
        display: none;
      }
      &:first-child {
        display: none;
      }
    }
  }
}
