.work {
  display: flex;
  color: #000000;
  align-items: center;
  margin-top: 101px;
  background: url(../img/heptagon.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  h4 {
    font-family: "Tenor Sans";
    font-weight: 400;
    font-size: 44px;
    line-height: 120%;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
  a {
    color: #151515;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
  }
}
