.work {
  display: flex;
  color: #000000;
  align-items: center;
  margin-top: 101px;
  background: url(../img/heptagon.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
  a {
    color: #151515;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
  }
}
@media screen and (max-width: 1440px) {
  .work {
    img {
      max-width: 370px;
      max-height: 440px;
    }
    &__info {
      h1 {
        font-weight: 400;
        font-size: 44px;
        line-height: 120%;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .work {
    justify-content: space-between;
    img {
      max-width: 294px;
      max-height: 352px;
    }
    &__info {
      max-width: 364px;
      p {
        font-size: 14px;
      }
      h1 {
        font-size: 34px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .work {
    margin-top: 40px;
    display: flex;
    flex-direction: column-reverse;
    h1 {
      font-size: 24px;
    }
    a {
      font-size: 14px;
    }
  }
}
